{% extends 'base.html' %}
{% load humanize %}
{% block title %}Welcome to {{ block.super }}{% endblock title %}
{% block content %}
<h1>Garage</h1>

<p>Currently available:</p>
<ul>
    <li><strong>Cars:</strong> {{ num_car }}</li>
    <li><strong>Services:</strong> {{ num_service }}</li>
    <li><strong>Completed services:</strong> {{ num_completed_services }}</li>
    <li>You're visiting us already for the <strong>{{ num_visits|ordinal }}</strong> time.
    <i class="fa-light fa-calculator fa-bounce fa-2xs"></i>
    </li>
</ul>
{% endblock content %}