{% extends 'base.html' %}
{% block title %}My orders {{ block.super }}{% endblock title %}

{% block content %}
<h1>My orders</h1>
{% if order_list %}
<ul>
    {% for order in order_list %}
        <a href="{% url 'order_detail' order.pk %}">
            <li>
                {{ order.car.model }}</a>- Should be fixed by: {{ order.due_back }}
                {% if order.status == status and order.is_overdue %}
                    <span class="orderoverdue">OVERDUE!</span></li>
                {% endif %}
            </li>
    {% endfor %}
</ul>
{% else %}
    <p class="box box-warning">
        <p>No orders found. Please feel free to get some!</p>
    </p>
{% endif %}
{% endblock content %}


