{% extends 'base.html' %}
{% block title %} Order Details | {{ block.super }}{% endblock title %}
{% block content %}
<h1>Order No: {{ order.id }}</h1>
<ul>
    <li>Date: {{ order.date }}</li>
    <li>Car: {{ order.car.model }}</li>
    <li>Owner: {{ order.car.client }}</li>
</ul>

{% if order.order_entries.count > 0 %}

    <strong>Order Entries:</strong>
    <ul>
        {% for entry in order.order_entries.all %}
            <li>
            <strong>Service:</strong> {{ entry.service }}
            <br>
            <strong>Quantity:</strong> {{ entry.quantity }}
            </li>
            <strong>Total:</strong> {{ entry.total }}
            </li>
            <li><strong>Status:</strong> 
          {% with entry_color=entry.get_color %}
            <span style="color: {{ entry_color }}">{{ entry.get_status_display }}<br><br></span>
          {% endwith %}
        {% endfor %}
        <strong>Total service fee - {{ order.price }}&#8364;</strong>
    </ul>
{% endif %}
<h2>Commentary section</h2>
{% if user.is_authenticated %}
{% if user.is_superuser or user.is_staff or user == order.car.client %} 
    <form method="post" action="{{ request.path }}">
    <h3>Leave your comments:</h3>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Post</button>
    </form>
{% else %}
    <p class="box box-info">Only the car owner or registered users can discuss. <a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">sign up</a></p>
{% endif %}
{% endif %} 
{% if order.reviews.count > 0 %}
    <ul>
        {% for review in order.reviews.all  %}
            <li>{{ review.reviewed_at }} by {{ review.reviewer }}<br>
                {{ review.content }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock content %}



