{% extends 'base.html' %}
{% block title %}Service Orders {{ block.super }}{% endblock title %}
{% block content %}
<h1>Service Orders</h1>
{% if orders %}
{% include  "includes/paginator_nav.html" %}
<ul>
    {% for order in orders %}
        <li><a href="{% url 'order_detail' order.pk %}">
        <strong>Client:</strong> {{ order.car.client }}
        <strong>Car Model:</strong> {{ order.car.model }}</a></li>
    {% endfor %}
</ul>
{% include  "includes/paginator_pages.html" %}
{% else %}
<p>No orders found</p>
{% endif %}
{% endblock content %}
